@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

*{  /*Reset Css*/
    margin: 0; /*Distancia da tag para o exterior*/
    padding:0; /*Distancia da tag ate o exterior*/
    box-sizing: border-box; /*avegador não calcule a dimensão de um elemento somando bordas e margens com altura e largura*/
    text-decoration: nome;/*tira qualquer decoração que possa ter no texto*/
}

body{
   font-size: 100%; 
   background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-imagem{
    height: 72px; /*Altura*/
}
.cabecalho-menu{
    display: flex;
    gap: 32px;
}
.cabecalho-menu-item{
    font-family: "Sarala", sans-serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 18px;
}

.conteudo{
    margin-bottom:48px;
    border-top:0.4px solid #FFF2E7;
}

.conteudo-principal{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}
.conteudo-principal-escrito {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.conteudo-principal-escrito-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #FFF2E7;
}
.conteudo-secundario{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:48px;
}
.conteudo-secundario-titulo{
    border-top: 0.4px solid #FFF2E7;
    padding-top:48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #FFF2E7;
    margin-bottom:16px;

}
.conteudo-secundario-paragrafo{
    font-family: "Sarala", sans-serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 18px;

}
.rodape{ 
    border-top:0.4px solid #FFF2E7;
}
.rodape-imagem{
    height: 48px;
    display: block;
    margin: 0 auto;
}